@model APIListGames
@{
    ViewData["Title"] = "Home Page";
}


<style>
    .grid > a{
        background-color: dimgrey;
        font-size: 1.25rem;
        width: 100%;
        color: white;
        border-radius: 25px;
        text-align: center;

    }
    .grid > a:hover{
        background-color: aqua;
        color: black;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="visibility: hidden">@(ViewBag.counter = 1) </div>


<div class="grid"style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 10px;">

    <a href="/genre">Genres</a>
    <a href="/home/newreleases">New Releases</a>



</div>

